.mission-details {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}

.details {
    margin-top: 20px;
}

.mission-patch img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.rocket-details, .launch-site-details {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #1d7f5647;
}
