.body{
    width: 50%;
    align-self: center;
    margin: auto;
}

.mission-list {
    margin: 20px;
}


.filter {
    margin-bottom: 10px;
}


.launches {
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 89, 157, 0.5); 
   
}


.mission {
    border: 1px solid #121311;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
    background-color: rgba(40, 122, 157, 0.5); 
    cursor: pointer;
}


.mission:hover {
    background-color: rgba(145, 157, 40, 0.7); 
}


.launch img {
    max-width: 100%;
    height: auto;
}

.launch h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #ea0707;
}

.launch p {
    margin-top: 5px;
    font-size: 14px;
    color: #090909;
}

.launch strong {
    font-weight: bold;
    color: #3112df;
}
